$base-color-primary: rgba(255, 255, 255, 1);
$base-color-secondary: rgba(255, 255, 255, 0.79);

$color-white: rgba(0, 0, 0, 0);
$color-dark-grey: rgba(60, 60, 60, 1);
$color-black: rgba(0, 0, 0, 1);
$color-black-two: rgba(26, 24, 24, 1);
$color-light-grey: rgba(60, 60, 60, 0.15);
$color-grey: rgba(112, 112, 112, 1);
$color-grey-two: rgba(115, 115, 115, 1);

$color-light-second-grey: rgba(240, 241, 241, 1);
$color-dark-green: rgba(94, 83, 34, 1);
$color-yellow: rgba(250, 214, 72, 1);