@import '../utils/fonts';
@import '../utils/colors_variables';
@import "../utils/mixin";

.about-us {
  display: flex;
  text-align: center;
  margin-top: 80px;
  flex-wrap: wrap;

  .sec {
    background-color: $color-light-second-grey;
    width: 50%;
    height: 935px;
    color: $color-dark-grey;

    &__hdl {
      font-family: $font-base;
      font-size: 38px;
      font-weight: 400;
      text-align: center;
      margin-top: 186px;
    }

    &__decoration {
    margin-top: 32px;
    }

    &__txt {
      flex-wrap: wrap;
      font-size: 30px;
      letter-spacing: -0.6px;
      line-height: 1.5;
      font-weight: 400;
      margin-inline: 150px;
      margin-top: 65px;

    }

    &__signature {
      text-align: right;
      //margin-top: 80px;
      //margin-bottom: 185px;
      margin-left: 350px;
    }
  }

  .people {

    width: 50%;

    &__img {
      margin-right: 100px;

    }
  }
}