@import "../utils/fonts";
@import "../utils/colors_variables";
@import "../utils/mixin";

.contact__section {
  margin-top: 80px;
  height: 1100px;
  width: 100%;
  position: absolute;


  .contact__img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -42;
    opacity: 0.2;
    margin-top: -10px;
    width: 100%;

  }

  .box__right {;
    @include flex(flex-end, flex-end, column);
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    &--hdl {
      font-family: $font-base;
      font-size: 38px;
      font-weight: 400;
      color: $color-dark-grey;
      letter-spacing: -0.76px;
      opacity: 1;
      text-align: center;
      width: 358px;
      height: 52px;
      margin-top: 200px;
    }

    &--decoration {
      width: 253px;
      height: 33px;
      opacity: 1;
      margin-right: 50px;

    }
  }

  .contact__form {
    font-family: $font-base;
    margin-top: 50px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    &--group {
      @include flex(flex-start, flex-start, row);
      gap: 20px;
      margin-left: 820px;
      width: 256px;
      height: 62px;


      &--1 {

        &--label {

        }


        &--in {
          margin-top: 12px;

        }

      }
    }

    &--msg {
      font-family: $font-base;
      @include flex(center, flex-start, column);
      margin-top: 50px;
      margin-left: 820px;  // Adjusted this line to center the msg
      margin-right: auto; // Adjusted this line to center the msg
      align-items: center;
      width: 528px;
      height: 97px;

      &--label2 {
      }

      &--in2 {
        width: 528px;
        height: 97px;
      }
    }
  }

  .contact__btn {
    font-family: $font-base;
    @include flex(flex-end, center);
    margin-top: 150px;
    color: blue;
    border: 0.75px solid rgba(60, 60, 60, 1);
    background: none;
    width: 150px;
    height: 50px;
    justify-content: center;


  }


  .footer {
    font-family: $font-base;
    @include flex(flex-end);
    margin-top: 50px;

    &__copy {
      display: flex;
      justify-content: flex-end;

    }

    &__icons {
      &--icon {

      }
    }
  }

}