@import "../utils/fonts";
@import "../utils/colors_variables";
@import "../utils/mixin";

.contact__section {
  margin-top: 200px;
  height: 1100px;
  width: 100%;
  position: absolute;


  .contact__img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -42;
    opacity: 0.2;
    margin-top: 80px;

  }

  .box__right {;
    @include flex(flex-end, center, column);
    margin-top: 200px;
    margin-right: 52px;
    margin-left: 1150px;


    &--hdl {
      font-family: $font-base;
      font-size: 38px;
      font-weight: 400;
      color: $color-dark-grey;
      letter-spacing: -0.76px;
      opacity: 1;
      text-align: center;


    }

    &--decoration {
      margin-top: 20px;
      width: 253px;
      height: 33px;
      opacity: 1;


    }
  }

  .contact__form {
    margin-top: 77px;
    gap: 40px;
    margin-left: 1500px;
    margin-right: 142px;


    &--group {
      @include flex(flex-end, center, row);
      gap: 20px;
      width: 256px;
      height: 62px;




      &--1 {

        &--label {

        }


        &--in {
          margin-top: 12px;

        }

      }
    }

    &--msg {
      @include flex(center, flex-start,  column);
      margin-top: 100px;
      &--label2{

      }
      &--in2 {}
    }


  }

  .contact__btn {
    @include flex(flex-end);
    margin-top: 150px;
    color: blue;

  }


  .footer {
    @include flex(flex-end);
    margin-top: 50px;


    &__copy {

    }

    &__icons {
      &--icon {

      }
    }
  }

}