@import '../scss/fonts';
@import '../scss/colors_variables';
@import "../utils/mixin";


.columns {
  @include flex(center);
  background-image: url(../assets/images/ThreeColumnsBackground.png);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;



  .column {
    text-align: center;
    margin-left: 40px;
    margin-inline: 15px;
    margin-top: 0;


    &__number {
      align-content: center;
      margin-top: 46px;

      &--1 {
        font-family: $font-base;
        color: $color-dark-green;
        font-size: 90px;
        opacity: 1;
        padding: 2px;
        font-weight: 300;

      }

      &--2 {
        font-family: $font-base;
        color: $color-dark-green;
        font-size: 90px;
        opacity: 1;
        padding: 2px;
        font-weight: 300;

      }

      &--3 {
        font-family: $font-base;
        color: $color-dark-green;
        font-size: 90px;
        opacity: 1;
        padding: 2px;
        text-align: center;
        font-weight: 300;

      }

    }


    &__hdl {
      font-family: $font-base;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: -0.36px;
      color: $color-dark-grey;
      text-align: center;
      opacity: 1;
      margin-top: -50px;


    }

    &__dsc {
      flex-wrap: wrap;
      font-size: 16px;
      font-weight: 300;
      font-family:$font-alt;
      color: $color-dark-grey;
      letter-spacing: -0.32px;
      margin-top: 28px;
      width: 370px;
      height: 68px;
      line-height: 1.9;
      margin-bottom: 86px;

    }

  }
}