.login {
  display: flex;
  justify-content: flex-end;
  a {
    border: 0.75px solid rgba(250, 214, 72, 1);
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  a {

  }
}

h1 {

}

.img-box{

}

.decoration {

}

