@import "../utils/colors_variables";
@import "../utils/fonts";

:root {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}

header {
  width: auto;
  height: auto;
}

.login {
  font-family: $font-base;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin-inline: 15px;
  padding-inline: 152px;

  a {
    font-family: $font-base;
    border: 0.75px solid rgba(250, 214, 72, 1);
    text-decoration: none;
    margin-inline: 15px;
    margin-top: 44px;
    padding-inline: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    color: rgba(115, 115, 115, 1);

  }
}

nav {
  font-family: $font-base;
  display: flex;
  font-size: 18px;
  justify-content: flex-end;
  padding-inline: 142px;
  padding-top: 26px;


  a {
    text-decoration: none;
    margin-inline: 20px;
    color: $color-dark-grey;
    padding-inline: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    transition: border-color 0.9s ease;
    border: 0.75px solid transparent;
  }

  a:hover {
    cursor: pointer;
    border: 0.75px solid $color-black;
  }
}

.img-box {
  height: auto;
  width: 900px;
  top: 0;
  margin-left: -355px;
  background: transparent no-repeat padding-box;
  opacity: 1;
  display: flex;
  align-content: flex-start;
  margin-right: 20px;
}

.collect-container {
  font-family: $font-base;
  display: flex;
  margin-inline: 20px;
  padding-top: 65px;
  padding-bottom: 40px;
  text-transform: uppercase;

  .collect {
    border: 0.75px solid $color-dark-grey;
    margin-inline: 44px;
    color: $color-dark-grey;
    text-decoration: none;
    width: 310px;
    height: 120px;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    font-size: 36px;
    font-family: $font-base;
    font-weight: 300;
  }
}


.content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-family: $font-base;
    font-weight: 200;
    font-size: 38px;
    text-align: center;
    padding-top: 40px;
  }

  .decoration {
    width: 253px;
    height: 33px;
  }
}






